.wbdv-sticky-nav-bar{
    background-color: dimgrey;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.tabfont_color{
    color: white;
}

.lhs_bar{
    background-color:darkgrey;
    padding-top: 100px;
    width: 100%;
}

.item{
    background-color: dimgrey;
    color:white;
}

.pills {
    background-color:darkgrey;
    color: white;
}

.rhs_pills{
    padding-top: 100px;
}