.wbdv-sticky-nav-bar{
    background-color: lightblue;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container{
    padding-top: 58px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
}